DATABASE_URL=file:./data/cozisteel.db
NEXTAUTH_SECRET=gerar-uma-chave-secreta-aqui
NEXTAUTH_URL=http://localhost:3000
APP_VERSION=3.0.0
APP_ENV=production
STORAGE_PATH=./storage
LOG_PATH=./logs
BACKUP_PATH=./storage/backups
